@use '../abstracts/' as *;

.header {
  padding: 30px 20px 15px;

  &-logo {
    position: relative;
    z-index: 1;
    width: 160px;
    height: 30px;

    img {
      position: absolute;
      transition: opacity 0.5s;
    }

    .white-logo {
      opacity: 0;
    }

   .header.menu-open & .white-logo {
      opacity: 1;
    }

    .header.menu-open & .black-logo {
      opacity: 0;
    }
  }

  &-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}